/*
 * Copyright (C) 2023 Avnet Embedded GmbH
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation version 2.
 *
 * This program is distributed "as is" WITHOUT ANY WARRANTY of any
 * kind, whether express or implied; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/clock/imx8mm-clock.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	fragment@1100 {
		target-path = "/";
		__overlay__ {
			user_gpios {
				GPIO_A5-ignore;
			};
		};
	};
	fragment@1101 {
		target = <&lcd0_backlight>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@1102 {
		target = <&i2c2>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			dsi_lvds_bridge: sn65dsi84@2d {
				compatible = "ti,sn65dsi83";
				reg = <0x2d>;
				enable-panel-gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>; /* GPIO_A 5 */
				backlight = <&lcd0_backlight>;
				status = "disabled";
			};
		};
	};

	fragment@1103 {
		target = <&ecspi1>;
		__overlay__ {
			spi-max-frequency = <20000000>;
		};
	};

	fragment@1104 {
		target = <&ecspi2>;
		__overlay__ {
			spi-max-frequency = <20000000>;
		};
	};

	fragment@1105 {
		target = <&spidev1_0>;
		__overlay__ {
			compatible = "jedec,spi-nor";
			spi-max-frequency = <20000000>;
		};
	};

	fragment@1106 {
		target = <&spidev2_0>;
		__overlay__ {
			compatible = "jedec,spi-nor";
			spi-max-frequency = <20000000>;
		};
	};

	fragment@1107 {
		target = <&i2c2>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			eeprom@57 {
				compatible = "atmel,24c64";
				reg = <0x57>;
				pagesize = <32>;
			};
		};
	};

	fragment@1108 {
		target = <&i2c3>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			eeprom@57 {
				compatible = "atmel,24c64";
				reg = <0x57>;
				pagesize = <32>;
			};
		};
	};

	fragment@1109 {
		target-path = "/";
		__overlay__ {
			sgtl5000_sound: sgtl5000-sound {
				compatible = "fsl,imx-audio-sgtl5000";
				model = "imx-sgtl5000";
				audio-cpu = <&sai5>;
				audio-codec = <&sgtl5000_codec>;
				audio-routing =
						"LINE_IN", "Line In Jack",
						"MIC_IN", "Mic Jack",
						"Mic Jack", "Mic Bias",
						"Headphone Jack", "HP_OUT";
			};
		};
	};

	fragment@1110 {
		target-path = "/";
		__overlay__ {
			reg_vcc_3v3_audio: 3v3_audio_regulator {
				compatible = "regulator-fixed";
				regulator-name = "3V3_AUD";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
			};
		};
	};

	fragment@1111 {
		target-path = "/";
		__overlay__ {
			reg_vcc_1v8_audio: 1v8_audio_regulator {
				compatible = "regulator-fixed";
				regulator-name = "1V8_AUD";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
			};
		};
	};

	fragment@1112 {
		target = <&i2c3>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			sgtl5000_codec: sgtl5000@a {
				compatible = "fsl,sgtl5000";
				reg = <0x0a>;
				clocks = <&clk IMX8MM_CLK_CLKOUT1>;
				clock-names = "mclk";
				assigned-clocks = <&clk IMX8MM_CLK_CLKOUT1_SEL>;
				assigned-clock-parents = <&clk IMX8MM_CLK_24M>;
				assigned-clock-rates = <24000000>;
				VDDA-supply = <&reg_vcc_3v3_audio>;
				VDD-supply = <&reg_vcc_1v8_audio>;
				VDDIO-supply = <&reg_vcc_1v8_audio>;
			};
		};
	};

	fragment@1113 {
		target = <&sai5>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@1114 {
		target = <&usdhc1>;
		__overlay__ {
			  bus-width = <4>;
		};
	};
};
